@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*
{
  margin:0;
padding: 0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;

}




/*mobile size*/

body{
    background-color: #e6dee9;
    color:rgba(29,30,33);
    margin-right: auto;
    margin-left: auto;


}



section{

    width:100%;
    padding: 0px;
    

    

}

.button-section{
    background-color: white;
    display: block;
    padding:20px;
    text-align: center;
    
}


.main-button{
    position: relative;
    display: inline-block;
    color: rgba(29,30,33);
    border: 1px solid rgba(29,30,33);
    padding:14px 30px;
    font-size:.8rem;
    text-transform: capitalize;
    text-decoration: none;
    font-weight:400;
    letter-spacing: 1px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    transition: .3s ease all;


}

.main-button:hover {
    color:rgb(4, 236, 205);
    border: 1px solid rgb(4, 236, 205);}


  /* Nav bar */
  .container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
    justify-content: center;



}
/* Nav Bar  */
#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	
}
.nav-bar {

	left: 0;
	top: 0;
	padding:10px 20px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-bar .brand a {
	font-family: 'Flash Back - Demo', sans-serif;
	font-size: 3rem;
	color: rgb(245, 245, 245);
}
.nav-bar .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar .nav-list .hamburger {
	
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 28px;
	transition: .3s ease transform;
	cursor: pointer;
}
.nav-bar .nav-list .hamburger.active {
	transform: rotate(180deg);
}
.nav-bar .nav-list .hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar:after {
	top: 0;
	transform: rotate(-45deg);
}
.nav-bar .nav-list .hamburger.active .bar {
	background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar {
	height: 1.5px;
	width: 24px;
	background-color: rgba(245, 245, 245, 0.664);
	position: relative;
	display: flex;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(245, 245, 245, 0.664);
	transition: .3s ease all;
}
.nav-bar .nav-list .hamburger .bar::before {
	top: 8px;
}
.nav-bar .nav-list .hamburger .bar::after {
	bottom: 8px;
}
.nav-bar .nav-list ul {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
    background-color: rgba(29,30,33);
	padding: 6rem 0;
	transform: translateY(-100%);
	transition: .3s ease transform;
	text-align: center;
	z-index: -1;
}
.nav-bar .nav-list ul li {
	list-style: none;
	display: block;
	position: relative;
}
.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: 1rem;
	background-color: rgb(4, 236, 205, 0.6);
	left: 50%;
	transform: translateX(-100%) scale(0);
	bottom: 25%;
    transition: .3s ease transform;
    z-index: -1;
}
.nav-bar .nav-list ul li a {
	font-size: 1.4rem;
	text-decoration: none;
	text-transform: none;
	color: rgba(245, 245, 245, 0.664);
	display: block;
	letter-spacing: .1rem;
    padding: 1.4rem 1rem;
    font-weight: 400;
}
.nav-bar .nav-list.open ul {
	transform: translateY(0px);
}
  /* End Nav bar */


  /* project section */

.strong{
   
    font-weight:600;
}


.projectbanner{
    display: flex;
    flex-direction: column;
  
}
.project-container{
    width: 100%;
    height: auto;
    
}

.project-img{
        width: 100%;
        height: 55vh;
        display: block;
        background-image: url(projectbanner.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        margin-right: auto;
    margin-left: auto;
   
}
  




.project-text-container{
    
    padding:20px;
    background-color: white;
    display: block;

    
    
    }

.detail-container{
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;

}

.heading{
    font-size:1.4rem;
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    padding-bottom: 1.4rem;


}

.project-text-container .detail div{
    padding:.8rem 0;
}

.project-text-container .overview{
    padding:.8rem 0;
}


.project-text-container h5{
    font-size:1.2rem;
    font-weight: 600;
    color: rgb(16, 209, 183);
    margin-bottom:.8rem;
}

.project-text-container p{
    font-size:18px;
    font-weight: 300;
    line-height: 2rem;}


.projectmain{
    min-height: 30vh;
    display: flex;
    align-items:center;
    justify-content:center;
    position: relative;
    flex-direction: column;
    background-color: white;
    width: 100%;
    


}


.article-container{
    height: auto;
    padding:20px;
    width: 100%;
    
    
}

.article-heading h5{
    font-size:1.2rem;
    font-weight: 600;
    color: rgb(16, 209, 183);
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    margin-bottom:.8rem;

}

.article-text{
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    font-size:18px;
    font-weight:300;
    line-height: 2rem;
   

}
.article-text img{
    max-width: 100%;
    padding:2rem 0;

   

}

.problem-container{

    height:auto;
    min-height:60vh;
    padding:20px;
    width: 100%;
    background-color:  #F5F6FA;
    
    justify-content: center;
    display: flex;
    flex-direction: column;


}
.problem-heading h5{
    font-size:1.2rem;
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    margin-bottom:.8rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
   
   

}
.problem-text{
    margin-right: auto;
    margin-left: auto;
    max-width: 1000px;
    font-size:1.4rem;
    font-weight:500;
    padding:2rem 0;
    line-height: 2.6rem;
   

}


.problem-text .semi{
   
    font-size:2rem;
    
    
    }


.problem-text .box{
   background-color:rgb(184, 172, 255);
    
    
    }



    .hypo-container{
    
        height:auto;
        min-height:60vh;
        padding:20px;
        width: 100%;
        background-color:   rgba(29,30,33);
        
        justify-content: center;
        display: flex;
        flex-direction: column;
    
    
    }
    .hypo-heading h5{
        font-size:1.2rem;
        font-weight: 600;
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        margin-bottom:.8rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color:white;
       
       
    
    }
    .hypo-text{
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        font-size:1.4rem;
        font-weight:500;
        padding:2rem 0;
        line-height: 2.6rem;
        color:white;
       
    
    }
    
    
    .hypo-text .semi{
       
        font-size:2rem;
        
        
        }
    
    
    .hypo-text .box{
       background-color: rgb(4, 236, 205, 0.8);
        
        
        }
    

    .research-container{
        height: auto;
    padding:20px;
    width: 100%;
    


    }

    .research-heading h5{
        font-size:1.2rem;
        font-weight: 600;
        color: rgb(16, 209, 183);
        margin-right: auto;
        margin-left: auto;
        max-width: 800px;
        margin-bottom:.8rem;

    }
    .research-text h3{
        font-size:1.6rem;
        font-weight:700;
        line-height: 2.4rem;
        padding-bottom:1rem;

    }

    .research-text .bullet p{
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
}

    .research-text{
        margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    font-size:18px;
    font-weight:300;
    line-height: 2rem;
    padding-bottom:2rem;

    }
    .research-text img{
        max-width: 100%;
       padding:2rem 0;
       
    
       
    
    }


    .painpoint-container{

        min-height:60vh;
        height: auto;
        padding:20px;
        width: 100%;
        background-color:  #e6dee9;
         justify-content: center;
        display: flex;
        flex-direction: column;

    }
    .painpoint{
        margin-right: auto;
        margin-left:auto;
      width:100%;
        justify-content: space-between;
        max-width: 1000px;
        
    }



    .painpoint-heading h5{ 
        font-size:1.2rem;
        font-weight: 600;
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        margin-bottom:.8rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        color:rgba(29,30,33);
       

    }
    .painpoint-box{
        background-color: white;
        padding:1.6rem;
        border-radius: .4rem;
        display: block;
        margin:2.4rem 0;
        box-shadow: 0 20px 25px -5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
        

        
    }
    .painpoint-box p{
        font-weight: 400;
        font-size:1.2rem;
        text-align: center;
        line-height: 2rem;
    }


    .ia-container{
        height: auto;
        padding:20px;
        width: 100%;

    }

    .ia-text{
        margin-right: auto;
        margin-left: auto;
        max-width: 800px;
        font-size: 18px;
        font-weight: 300;
        line-height: 2rem;
        padding-bottom: 2rem;
    }

    .ia-text img{
        max-width: 100%;
    
       
    }

    /* End project section */

    /* Final */
    
    .finaldesign{
        width: 100%;
        height: 30vh;
        display: block;
        background-image: url(final.jpg);
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        background-position: center;
        
    }

    
    .final {
        min-height: 30vh;
        background-color: white;
       width:100%;
      
    }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:50px 20px;
        margin-left:auto;
        margin-right:auto;
        max-width:800px;
    }
    .video-reverse{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:50px 20px;
        margin-left:auto;
        margin-right:auto;
        max-width:800px;

    }

    .video-reverse video{
        width:80%;
    }
    
    
    .video video{
        width:80%;
    }
    

    .finaltext{
        padding-top:2rem;
    }
    .finaltext h3{
        font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    

    }

    .finaltext h5{
        font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.4rem;
    color:rgb(142, 124, 241);
    padding-bottom:2rem;

    }

    .finaltext p{
        font-size: 18px;
    font-weight: 300;
    line-height: 2rem;
    }


    .finaltext .number{
        background-color:rgb(142, 124, 241);
        width:40px;
        height:40px;
        display: flex;
        text-align:center;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        color:white;
        margin-bottom:1rem;
        font-size: 24px;
        font-weight: 400px;
    }


   
    /* Final */

    .screen{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding:50px 0 100px 0;
       
    }
    .screen img{
        width:100%;
        height: auto;

    }



/* Footer Section */

.footer{

   
    min-height: 10vh;
    width:100%;
    text-align: center;
    color: rgba(245, 245, 245, 0.664);
    flex-direction: column;
    background-color: rgba(29,30,33);
    padding:30px 20px;

}

.footer .email{

    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 1px;

}

.sns-icon i{
    color:rgba(245, 245, 245, 0.664);
    font-size:1.4rem;
    margin:20px 10px;
    transition: .3s ease all;

   
}


.sns-icon i:hover{
    color:rgb(4, 236, 205);
    font-size:1.4rem;
    margin:20px 10px;

   
}


.footer .copyright{
   
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 1px;


}


/* End Footer Section */

@media only screen and (min-width:540px){

    .finaldesign{
        width: 100%;
        height: 40vh;}

}
/*Media Query for desktop and tablet*/

@media only screen and (min-width:768px){ 

    .main-button{
   
        padding:16px 34px;
        font-size:1rem;
        letter-spacing: 1px;
        
    
    }




    /* Nav bar */
   
    .nav-bar .nav-list .hamburger {
		display: none;
	}
	.nav-bar {
        width: 100%;
        padding:10px 50px;
	}
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
        background-color: transparent;
        
	}
	.nav-bar .nav-list ul li {
		display: inline-block;
    }
    
    .nav-bar .nav-list ul li a {
        font-size: 1.2rem;
        text-decoration: none;
        text-transform: none;
       
        display: block;
        letter-spacing: .1rem;
        padding: 1.4rem 1rem;
       
    }
    
    .project-text-container{
        padding:50px;
        background-color: white;
        display: block;
    
    
    
    
    }

    .project-img{
        width: 100%;
        height: 90vh;
    }

    .detail-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       

    }
    
    .project-text-container .overview{
      display: block;
       width: 60%;
      

    }
    .project-text-container .detail{
        display: block;
        
         width: 40%;
        
  
      }

      .article-container{
          height: auto;
          padding:50px;
          width: 100%;
          
          
      }
      
      .article-text{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
         
      
      }
      .article-text div{
          width:45%;
      }
      .article-text img{
          max-width: 100%;
          padding:0;

      
         
      
      }

      .problem-container{
      
          padding:50px;
          width: 100%;
          
          justify-content: center;
          display: flex;
          flex-direction: column;
      
      }

      .hypo-container{
      
        padding:50px;
        width: 100%;
        
    }
      .research-container{
          height: auto;
      padding:50px;
      width: 100%;
      
  
      }
      .painpoint-container{

        padding:50px;


    }
    .painpoint-box{
        width:30%;
        height: auto;
      
  
          
      }
    .painpoint{
       display: flex;
       flex-direction: row;
       align-items: baseline;
    }

    .ia-container{
        height: auto;
        padding:50px;
        width: 100%;

    }

    .finaldesign{
        width: 100%;
        height: 50vh;}

   

   .video{
        display: flex;
        flex-direction: row;
        padding:50px;
    }
    
    
    .video video{
        width:50%;
    }


    .finaltext{
        width:50%;
        padding:0;
        padding-left:2rem;
    }



    .video-reverse{
        display: flex;
        flex-direction: row-reverse;
        padding:50px;

    }

    .video-reverse video{
        width:50%;
    }
    
    .video-reverse .finaltext{
        width:50%;
        padding:0;
        padding-right:2rem;

    }
    





    .footer-container{

   
        display: flex;
       justify-content: space-between;
       align-items: center;
      
    
    }

    .footer{

   
        padding:20px 50px;
    
    }
    
    
}



/*End Media Query for desktop and tablet*/


/*Media Query for only desktop*/
@media only screen and (min-width: 1200px){

    .nav-bar {
        width: 100%;
        padding:0 100px;
	}
  

    .footer{

   
        padding:20px 100px;
    
    } 
    .project-text-container{
        padding:50px 100px;
        background-color: white;
        display: block;
    
    
    
    
    }


    .detail-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       

    }
    
    .project-text-container .overview{
      display: block;
       width: 60%;
      

    }
    .project-text-container .detail{
        display: block;
        
         width: 40%;
        
  
      }

      .article-container{
          height: auto;
          padding:100px;
          width: 100%;
          
          
      }
      .problem-container{
      
          padding:100px;
          width: 100%;
          min-height:100vh;
          
          justify-content: center;
          display: flex;
          flex-direction: column;
      
      }
      .problem-text{
          font-size:1.6rem;
          line-height: 2.8rem;
      }

      

      .hypo-container{
      
        padding:100px;
        width: 100%;
        min-height:100vh;
        
    }

    .hypo-text{
        font-size:1.6rem;
        line-height: 2.8rem;
    }

    .research-container{
        height: auto;
    padding:100px;
    width: 100%;
    

    }
    .painpoint-container{

      padding:100px;
      min-height:100vh;

  }
      

    .ia-container{
        height: auto;
        padding:100px;
        width: 100%;

    }


    .finaldesign{
        width: 100%;
        height: 100vh;}




        .video{
            display: flex;
            flex-direction: row;
            padding:100px 0;
        }

        .video video{
            padding:0 30px;
        }



        .video-reverse{
            display: flex;
            flex-direction: row-reverse;
            padding:100px 0;
        }

        .video-reverse video{
            padding:0 30px;
        }


        


}


@media only screen and (min-width: 1900px){


}

/*End Media Query for only desktop*/





/* Projects,about,extra pagese */
